In [ ]:
##Intro:Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

In [1]:
##lets go a print 
print('My first code using python! welcome hello world')

My first code using python! welcome hello world

In [ ]:
##python comment
#1st way
"""
This is a comment
written in
more than just one line
"""
# #2nd way
#This is a comment

In [2]:
##Python Variables
x = 5 #number
y = "John" #string
print(x)
print(y)

5
John

In [6]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [7]:
#if you don't believe ðŸ¤£ me so using type
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [8]:
##legal way to write
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
##write multi value
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

In [13]:
##Global Variable
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [14]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#Python Data Types
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [15]:
#String
x = "Hello World"
x

'Hello World'

In [16]:
#number
x = 20
x

20

In [17]:
# float
x = 20.5
x

20.5

In [18]:
#complex
x = 1j
x

1j

In [20]:
print(type(x))

<class 'complex'>

In [24]:
#list
x = ["apple", "banana", "cherry"]
x

['apple', 'banana', 'cherry']

In [25]:
#tuple
x = ("apple", "banana", "cherry")
x

('apple', 'banana', 'cherry')

In [26]:
#range
x = range(6)
x

range(0, 6)

In [27]:
#dictionary
x = {"name" : "John", "age" : 36}
x

{'name': 'John', 'age': 36}

In [28]:
#set
x = {"apple", "banana", "cherry"}
x

{'apple', 'banana', 'cherry'}

In [29]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})
x

frozenset({'apple', 'banana', 'cherry'})

In [30]:
#boolean
x = True
x

True

In [31]:
#bytes
x = b"Hello"
x

b'Hello'

In [32]:
#bytearray
x = bytearray(5)
x

bytearray(b'\x00\x00\x00\x00\x00')

In [33]:
#memoryViews
x = memoryview(bytes(5))
x

In [35]:
#nonetype
x = None
x

In [ ]:
#python numbers

In [36]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [37]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
#Python Casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
#Python Strings

In [39]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [40]:
#Slicing Strings
b = "Hello, World!"
print(b[2:5])

llo

In [41]:
b = "Hello, World!"
print(b[:5])#0=H,1=e,2=l,3=l,4=o :5 means before 5

Hello

In [42]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [43]:
b = "Hello, World!"
print(b[-5:-2])
# This code is using string slicing to extract a substring from the string "Hello, World!" and then print it to the console.

# The slice [-5:-2] specifies a range of indices to include in the output. The first index, -5, corresponds to the fifth character from the end of the string (i.e., the letter "o" in "World"). The second index, -2, corresponds to the second-to-last character in the string (i.e., the letter "r" in "World").

# When these indices are used to slice the string, the resulting substring is "orl". This substring is then printed to the console using the print() function.

orl

In [45]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [46]:
#Lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [47]:
#remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [48]:
#replcae
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [49]:
#split
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [50]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [51]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [52]:
#text formating
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [53]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [54]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [63]:
#short cut for fromating
a=2
b=3
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

'Five plus ten is 5 and not 10.'

In [62]:
 #Escape Characters
# \'	Single Quote	
# \\	Backslash	
# \n	New Line	
# \r	Carriage Return	
# \t	Tab	
# \b	Backspace	
# \f	Form Feed	
# \ooo	Octal value	
# \xhh	Hex value

In [64]:
#Python Booleans
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [65]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
#Python Arithmetic Operators

In [ ]:
# +	Addition	x + y	
# -	Subtraction	x - y	
# *	Multiplication	x * y	
# /	Division	x / y	
# %	Modulus	x % y	
# **	Exponentiation	x ** y	
# //	Floor division	x // y

In [ ]:
# =	x = 5	x = 5	
# +=	x += 3	x = x + 3	
# -=	x -= 3	x = x - 3	
# *=	x *= 3	x = x * 3	
# /=	x /= 3	x = x / 3	
# %=	x %= 3	x = x % 3	
# //=	x //= 3	x = x // 3	
# **=	x **= 3	x = x ** 3	
# &=	x &= 3	x = x & 3	
# |=	x |= 3	x = x | 3	
# ^=	x ^= 3	x = x ^ 3	
# >>=	x >>= 3	x = x >> 3	
# <<=	x <<= 3	x = x << 3

In [ ]:
# and 	Returns True if both statements are true	x < 5 and  x < 10	
# or	Returns True if one of the statements is true	x < 5 or x < 4	
# not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [66]:
#Python Lists
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [67]:
#Access List Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [69]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [70]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [71]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [74]:
#insert
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [75]:
#Add list item
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [77]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [78]:
#remove item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [87]:
thislist = ["apple", "banana", "cherry"]
del thislist#full delete

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [89]:
#Loop in list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [90]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [94]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [92]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [95]:
#sort
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [96]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [97]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [98]:
#copy
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [99]:
#join list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [100]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [1]:
#Python Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
#access tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [5]:
#update
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [6]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [7]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [8]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [9]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [10]:
#loop for tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [11]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [12]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [13]:
#join
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [14]:
#python sets
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [15]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [16]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'apple', 'banana', 'pineapple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

In [20]:
#remove set
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [22]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [23]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [24]:
#join
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

In [25]:
#Python Dictionaries

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [27]:
print(len(thisdict))

3

In [28]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [29]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [30]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [31]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [32]:
x = thisdict.values()
x

dict_values(['John', 36, 'Norway'])

In [33]:
x = thisdict.items()
x

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [34]:
#update
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [35]:
#remove
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [36]:
#loop
for x in thisdict:
  print(thisdict[x])

Ford
1964

In [37]:
for x in thisdict.values():
  print(x)

Ford
1964

In [38]:
for x in thisdict.keys():
  print(x)

brand
year

In [39]:
#copy
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [41]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [42]:
#IF ELSE
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [43]:
#WHILE
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [44]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [45]:
#FOR
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [46]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [47]:
#FUNCTION
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [48]:
#lambda
x = lambda a, b : a * b
print(x(5, 6))

30

In [49]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [50]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22